In [3]:
import pandas as pd
import numpy as np

In [4]:
diccionarios_listas={
    "Nombre":["Ciro", "imelda","jose"],
    "edad":[22,32,15],
    "Area":["ti", "rh", "produccion"]
}
df=pd.DataFrame(diccionarios_listas)

df

   Nombre  edad        Area
0    Ciro    22          ti
1  imelda    32          rh
2    jose    15  produccion