In [3]:
import pandas as pd
import numpy as np

In [4]:
import pandas as pd

# Supongamos que 'lista_python' es una lista de listas con datos para el DataFrame
lista_python = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

filas = ['a', 'b', 'c']
columnas = ['I', 'II', 'III', 'IV']

df = pd.DataFrame(lista_python, index=filas, columns=columnas)
df

   I  II  III  IV
a  1   2    3   4
b  5   6    7   8
c  9  10   11  12